textarea{
    width: 50%;
    height: 10vh;
    display:block;
    margin: 1rem;
    padding: 1rem;
}

:root {
    --primary: #E8D2A6;
}

#output{
    border: 1px solid black;
    height: 10vh;
    width: 50%;
    padding: 1rem;
    margin: 1rem;
}

.main {
    display: flex;
    max-width: 600px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    
  }

#btn-translate{
    cursor: pointer;
    background-color: var(--primary);
    padding: 1rem;
    border: none;
    border-radius: 0.2rem;
    margin: auto;
    
}

h1{
    text-align: center;
    color: white;
}

.header{
    background-color: #301E67;
    padding: 1rem;
    border-radius: 2rem;
}




